# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.log

# Node
node_modules/
.next/
out/
dist/
*.log

# Environment
.env
.env*.local

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
